*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Fondo gris claro */
}

/* Encabezado */
header {
  background-color: #254363; /* Azul primario */
  color: #fff; /* Blanco */
  padding: 20px;
  text-align: center;
}

/* Navegación */
nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #0056b2; /* Azul más oscuro al pasar el ratón */
}

/* Sección principal */
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

aside {
  background-color: #e8f0fe; /* Azul claro */
  padding: 20px;
  width: 30%;
}

img {
  height: 150px;
}

section {
  width: 60%;
  text-align: justify;
}

.contenedor {
  display: flex;
}

.columna-izquierda, .columna-derecha {
  flex: 1;
  padding: 20px;
}

/* Pie de página */
footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Formulario */
form {
  display: inline-block;
}

input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #0056b2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}